.form-unit{
  width: 100px;
}

.input-number {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 5px;
}

.form {
  width: 100%;
  flex-grow: 1;
}

@media (min-width: 768px) { 
  .form {
    width: 50%;
  }
}