.wrapper {
  width: 100%;
  background-color: #ccc;
  padding: 5px;
  display: grid;
  grid-template:
    "title" 
    "linkedin"
    "github"
    "mail";

  align-items: center;
}

.title { grid-area: title }
.linkedin { grid-area: linkedin }
.mail { grid-area: mail }
.github { grid-area: github }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .wrapper {
    width: 100%;
    background-color: #ccc;
    padding: 20px;
    display: grid;
    grid-template: 
      "title linkedin"
      "title github"
      "title mail" / 2fr 1fr;
  
    align-items: center;
  }
}