<div class="wrapper">
  <div class="title">Aplicativo para seleção Itaú</div>
  <a href="https://www.linkedin.com/in/augustoshz/" target="_blank"><span nz-icon class="linkedin" nzType="linkedin" nzTheme="outline"></span> &#64;augustoshz</a>
  <a href="mailto:augustohss@gmail.com?subject=Contato&body=Boa tarde, gostaria de conversar mais sobre o projeto!"><span nz-icon class="mail" nzType="mail" nzTheme="outline"></span> augustohss&#64;gmail.com</a>
  <a href="https://github.com/AugustoShz" target="_blank"><span nz-icon class="github" nzType="github" nzTheme="outline"></span> &#64;AugustoShz</a>
</div>